---
import Layout from '../../layouts/Layout.astro' // TODO: configure imports
---

<Layout title={'Jack\'s Blog'} description={'Placeholder text'}>
    <main class='container'>
        <h1>Blog</h1>
        <hr>
    </main>
</Layout>

<style>
    h1 {
        margin-block: 3rem;
        text-align: center;
    }
</style>
