---
import Layout from "../../layouts/Layout.astro"; // TODO: configure imports
import FeatureCard from "../../components/blog/FeatureCard.astro";

const lorem =
  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur harum repudiandae nostrum minima placeat dolorem, explicabo, recusandae perferendis similique culpa ad amet? Nihil quidem ipsa ab voluptatem? Esse, autem. Blanditiis.";
---

<Layout title={"Jack's Blog"} description={"Placeholder text"}>
  <main class="container">
    <h1>Blog</h1>
    <hr />

    <FeatureCard title={"Title One"} description={lorem} />
    <FeatureCard title={"Blog Post Two"} description={lorem} />
  </main>
</Layout>

<style>
  h1 {
    margin-block: 3rem;
    text-align: center;
  }
</style>
