---
import Layout from "../../layouts/Layout.astro"; // TODO: configure imports
import FeatureCard from "../../components/blog/FeatureCard.astro";
---

<Layout title={"Jack's Blog"} description={"Placeholder text"}>
  <main class="container">
    <h1>Blog</h1>
    <hr />

    <FeatureCard />
  </main>
</Layout>

<style>
  h1 {
    margin-block: 3rem;
    text-align: center;
  }
</style>
