<footer>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/resume'>Resume</a></li>
        <li><a href='#blog'>Blog</a></li>
    </ul>
</footer>

<style>
    footer {
        border-top: 5px solid #00897b;
        background-color: #323232;
    }

    ul {
        display: flex; 
        margin: 0;
        padding-block: 1rem;
        justify-content: center;
        list-style: none;
    }

    li {
        margin-inline: 1rem;
    }

    a {
        text-decoration: none;
        color: snow;
    }
</style>
