---
import Menu from './Menu.astro';
---
<header>
    <div class='container'>
        <div class='header-item'>
           <a id='title' href='/'>Jack O'Connor</a>
        </div> 
        <Menu class='header-item'/>
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;

        background-color: #323232;
        border-bottom: 5px solid;
        border-bottom-color: #00897b; 
    }

    .container {
        display: flex;
        align-items: baseline;
    }

    .header-item {
        flex-grow: 1;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    #title {
        font-family: cursive;
        font-weight: bold;
        font-size: 2rem;
        color: #00897b;
        text-decoration: none;
    }
</style>

