---
import Menu from './Menu.astro';
---
<header>
    <div class='header-container'>
        <div class='header-item'>
           <a id='title' href='/'>Jack O'Connor</a>
        </div> 
        <Menu class='header-item'/>
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;
        padding-left: 0.6rem;
        z-index: 1;

        background-color: #323232;
        border-bottom: 5px solid #00897b;
    }

    .header-container {
        display: flex;
        margin-inline: auto;
        align-items: baseline;
        max-width: 1000px;
    }

    .header-item {
        flex-grow: 1;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    #title {
        font-family: serif;
        font-weight: bold;
        font-size: 2rem;
        color: #00897b;
        text-decoration: none;
    }
</style>

