---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/Intro.astro'
---

<Layout title={'Jack\'s Portfolio'} description={'Placeholder text'}>
    <main class='container'>
        <Intro />
    </main>
</Layout>
