---
import github_mark from '../images/github-mark.svg?url'
import linkedin_mark from '../images/linkedin-mark.svg?url'
---
<section>
    <p>Hi there,</p> 
    <h1>I'm Jack</h1>
    <p class='headline'>Software Engineer, BSc Data Science and Analytics</p>
    <div class='logo-container'>
        <a class='image-link' href='https://github.com/jackoconnordev'>
            <img src={github_mark} class='mark' />
        </a>
        <a class='image-link' href='https://ie.linkedin.com/in/jackaoconnor'>
            <img src={linkedin_mark} class='mark' />
        </a>
    </div>
    <div id='resume-button-bg'>
        <a id='resume-button' class='medium-text' href='/resume'>
            {'Résumé'}
        </a>
    </div>
</section>

<style>
    section {
        height: calc(100svh - 3.2rem - 5px); 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    h1 {
        font-size: 2.4rem;
        margin-block: 0.6rem;
    }

    .headline {
        font-size: 1.2rem;
    }

    .medium-text {
        font-size: 1.2rem;
    }

    .logo-container {
        margin: 18px 0;
    }

    .image-link {
        text-decoration: none;
    }

    .mark {
        height: 36px;
        width: 36px;
        margin: 0 12px;
    }

    #resume-button-bg {
        margin: 1.2rem 0;
    }

    #resume-button {
        padding: 0.9rem 1rem;
        color: #dddddd;
        border-radius: 0.6rem;
        background-color: #00897b;

        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
    }
</style>
