---
import github_mark from '../images/github-mark.svg'
import linkedin_mark from '../images/linkedin-mark.svg'
---
<div class='landing-height'>
    <section id='intro'>
        <p>Hi there,</p> 
        <h1>I'm Jack</h1>
        <p class='headline'>Software Engineer, BSc Data Science and Analytics</p>
        <div class='logo-container'>
            <a class='image-link' href='https://github.com/jackoconnordev'>
                <img src={github_mark} class='mark' />
            </a>
            <a class='image-link' href='https://ie.linkedin.com/in/jackaoconnor'>
                <img src={linkedin_mark} class='mark' />
            </a>
        </div>
        <div id='experience-button-bg'>
            <a id='experience-button' class='medium-text' href='/experience'>
                {`Experience ${String.fromCodePoint(0x02192)}`}
            </a>
        </div>
    </section>
</div>

<style>
    .landing-height {
        height: calc(100svh - 3.2rem - 6px); 
    }

    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
         
        height: 100%;
        text-align: center;
    }

    #intro h1 {
        font-size: 2.4rem;
        margin: 0.6rem 0;
    }

    .headline {
        font-size: 1.2rem;
    }

    .medium-text {
        font-size: 1.2rem;
    }

    .logo-container {
        margin: 18px 0;
    }

    .image-link {
        text-decoration: none;
    }

    .mark {
        height: 36px;
        width: 36px;
        margin: 0 12px;
    }

    #experience-button-bg {
        margin: 1.2rem 0;
    }

    #experience-button {
        padding: 0.8rem;
        color: #dddddd;
        border-radius: 0.6rem;
        background-color: #00897b;

        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
    }
</style>
