---
export type Skill = [string, string]

export interface Props {
    name: string;
    description: string;
}

const {
    name,
    description
} = Astro.props
---
<div class='skill'>
    {name}
    <span class='tooltip-text'>{description}</span>
</div>

<style>
.skill {
    position: relative;
    display: inline;
    width: auto;
    font-size: 0.875rem;
    margin-right: 1rem;
    padding: 0.2rem 0.45rem;

    border: 1px solid #00897b;
    border-radius: 0.875rem;
    background-color: #00897b22;
    cursor: default;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    text-align: center;
    margin-left: calc(-5.5rem - 50%);
    margin-top: 2rem;
    padding: 0.2rem 0.45rem;
    
    background-color: #00897b;
    color: snow;
    width: 12rem;
    border-radius: 0.5rem;
}

.skill:hover .tooltip-text {
    visibility: visible;
}

.tooltip-text::before {
    content: "";
    position: absolute;

    border-bottom: 0.4rem solid #00897bee; 
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    top: -0.3rem;
    left: calc(50% - 1rem);
}
</style>
